<ion-content>

  <br>
  <div class="centrado">
  <ion-title>--- Reminder ---</ion-title>
  <br>
  <img src="assets/img/7.jpg" alt="">
  </div>
  <br>
  <hr>

  <ion-list>
    
    <ion-item>
      <ion-input placeholder="Username"  [(ngModel)]="home.correo1" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Password" [(ngModel)]="home.passwd1" type ="Password"></ion-input>
    </ion-item>

  </ion-list>

  <ion-content>
    <div class="centrado">
      <ion-button full (click)="login()">Log in</ion-button>
      <ion-button href="/register">Register</ion-button>
    </div>
  </ion-content>

</ion-content>