<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="ion-padding"></div>

</ion-content>

<br>
<div id="container">


  <!-- Textarea with custom number of rows and cols -->
  <ion-item>
    <ion-label>Notes</ion-label>
    <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Dia Mes Anio Hora:Minuto</ion-label>
    <ion-datetime displayFormat="D MMM YYYY H:mm" min="1997" max="2020" value="2005-06-17T11:06Z"></ion-datetime>
  </ion-item>

  <ion-button>SAVE</ion-button>



</div>

