<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-input placeholder="Mail" [(ngModel)]="mail" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Nombre" [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Password" [(ngModel)]="password" type ="Password"></ion-input>
  </ion-item>


  <ion-button full (click)="registro()">Registrar</ion-button>

  
</ion-content>
