<ion-header>
  <ion-toolbar>
    <ion-title>Recordatorio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  class="centrado">
    <br>
    <img src="assets/img/6.png" alt="">


    <!-- Textarea with custom number of rows and cols -->
    <ion-item>

      <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
    </ion-item>
  
    <ion-item>
      <ion-label>D MMM YYYY H:mm</ion-label>
      <ion-datetime displayFormat="D MMM YYYY H:mm" min="1997" max="2020" value="2005-06-17T11:06Z"></ion-datetime>
    </ion-item>
  
    <ion-button>SAVE</ion-button>
  
  
  
  </div>
  

</ion-content>
